<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>lihaoyun6</string>
	<key>Description</key>
	<string>mNight</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>43</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>10</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>200</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_1_Logo</string>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>OffsetX</key>
			<integer>44</integer>
			<key>OffsetY</key>
			<integer>60</integer>
			<key>Scale</key>
			<string>5</string>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>apple logo.png</string>
		<key>Components</key>
		<dict>
			<key>Help</key>
			<false/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>23</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>ButtonOffset</key>
			<string>50</string>
			<key>SelectionBigWidth</key>
			<string>128</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0xffffff60</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2018</string>
</dict>
</plist>
